<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intercity Transportation System</title>
    <link rel="stylesheet" href="<%= basePath || '/' %>stylesheets/style.css">
    <script>
        window.BASE_PATH = '<%= basePath || '/' %>';
    </script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <a href="<%= basePath || '/' %>">Intercity Trasnportation System</a>
            </div>
            <div class="navbar-center">
                <a href="<%= basePath || '/' %>line-schedules">Rozkład jazdy</a>
            </div>
            <div class="navbar-right">
                <% if (passenger) { %>
                  <a href="<%= basePath || '/' %>reservations">Moje rezerwacje</a>
                  <a href="#" id="logout-link">Wyloguj</a>
                <% } else { %>
                  <a href="<%= basePath || '/' %>login">Zaloguj</a>
                <% } %>
            </div>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
    </footer>
    <script src="<%= basePath || '/' %>js/logout.js"></script>
</body>
</html>
