<div class="container">
    <% if (passenger) { %>
        
      <h1 class="greeting">Witaj, <%= passenger.name %> <%= passenger.surname %>!</h1>
    <% } %>
    <form id="connection-finder" method="GET" action="<%= basePath || '/' %>timetable">
        <div class="ticket-type">
            <label><input type="radio" name="ticket_type" value="normalny" checked> Bilet normalny</label>
            <label><input type="radio" name="ticket_type" value="ulgowy"> Bilet ulgowy</label>
        </div>
        <div class="form-group">
            <label for="line_code">Linia:</label>
            <select id="line_code" name="line_code_direction">
                <% lines.forEach(function(line) { %>
                    <option value="<%= line.line_code %>_<%= line.direction %>"><%= line.line_name %></option>
                <% }); %>
            </select>
        </div>
        <div class="form-group">
            <label for="departure_from">Wyjazd z:</label>
            <select id="departure_from" name="departure_from">
            </select>
        </div>
        <div class="form-group">
            <label for="departure_to">Przyjazd do:</label>
            <select id="departure_to" name="departure_to">
            </select>
        </div>
        <div class="form-group">
            <label for="departure_date">Data odjazdu:</label>
            <input type="date" id="departure_date" name="departure_date" required min="<%= new Date().toISOString().split('T')[0] %>">
        </div>
        <button type="submit">Szukaj</button>
    </form>
    <script src="<%= basePath || '/' %>js/connection-finder.js"></script>
</div>
